*venv
.github
data/processed/*.pckl
data/processed/.gitignore
outputs/*.tsv
outputs/.gitignore
ml_models
Dockerfile
.gitignore
README.md
.env
.pytest_cache
.coverage
reports
requirements-ci.txt
pyproject.toml
gdrive-auth-template.json