*venv
.dvc/cache/*
.dvc/tmp/*
.github
data/processed/*.pckl
data/processed/.gitignore
data/external/*.tsv
data/.gitignore
outputs/*.tsv
outputs/.gitignore
ml_models
Dockerfile
.gitignore
README.md
.env
.pytest_cache
.mypy_cache
.coverage
reports
requirements-ci.txt
pyproject.toml
gdrive-auth-template.json